@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'SVN-Gilroy';
        src: url('/fonts/SVN-Gilroy/SVN-GilroyBold.woff2') format('woff2');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'SVN-Gilroy';
        src: url('/fonts/SVN-Gilroy/SVN-GilroySemiBold.woff2') format('woff2');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'SVN-Gilroy';
        src: url('/fonts/SVN-Gilroy/SVN-GilroyMedium.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'SVN-Gilroy';
        src: url('/fonts/SVN-Gilroy/SVN-Gilroy.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Inter';
        src: url('/fonts/Inter/Inter-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    html {
        font-family: 'SVN-Gilroy';
        font-weight: 400;
        font-size: 16px;
        color: #0a1d37;
    }
}
@layer components {
    .btn-primary {
        @apply tracking-[2px] font-bold border-[1px] border-solid border-white hover:border-primary text-white bg-primary px-6 py-2 outline-none rounded-md hover:text-primary hover:bg-white hover:font-bold ease-in-out duration-300 drop-shadow-2xl;
    }
    .btn-secondary {
        @apply btn-primary text-black;
    }
    .btn-outline {
        @apply btn-primary text-primary bg-white hover:bg-primary hover:text-white border-primary hover:border-white;
    }
}

.select-known__control {
    @apply border-none bg-transparent min-h-0 !important;
}
.scroll-to-top {
    @apply right-[20px] bottom-[100px] lg:right-[40px] lg:bottom-[40px] !important;
}

.badge {
    @apply absolute text-xs lg:text-sm  right-[-30%] top-[-40%] w-5 h-5 leading-5 rounded-full bg-danger text-center text-white;
}
.input {
    @apply shadow-detail border-b-[1px] border-primary  block w-full  pl-2 leading-10 sm:text-sm  focus:outline-none;
}
.tab-detail {
    @apply py-2.5 text-lg font-medium leading-5 cursor-pointer;
}
.tags-popular {
    @apply flex items-center justify-center bg-[#F6F6F6] rounded-lg text-sm lg:text-base px-1 md:px-2 lg:px-5 py-1 md:py-2 gap-[6px] cursor-pointer;
}
.table {
    @apply table-fixed border-collapse border border-spacing-1 border-slate-400 w-full;
}

td {
    text-align: -webkit-center;
}

section {
    padding: 60px 0px;
}

.sticky-scroll {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 3px 3px 10px -3px #ddd;
    background-color: white;
    animation: slide-down 0.8s;
}

.sticky__scroll-search {
    position: sticky;
    top: 20%;
    left: 0;
    z-index: 10;
    animation: slide-down 0.8s;
}

/* slider detail product */
ul.slick-dots.slick-thumb {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 12px;
    bottom: -20%;
    height: 150px !important;
}

.slick-dots li {
    width: 80px !important;
    height: 80px !important;
    padding: 0 !important;
    opacity: 0.6;
    scale: 0.9;
}

li.slick-active {
    opacity: 1;
    scale: 1;
}

@media only screen and (max-width: 576px) {
    ul.slick-dots.slick-thumb {
        bottom: -30% !important;
    }

    .menu {
        width: 60% !important;
    }
}

@media only screen and (max-width: 768px) {
    section {
        padding: 40px 0px;
    }
    ul.slick-dots.slick-thumb {
        bottom: -25% !important;
    }

    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation: slide-right ease 0.8s;
        font-size: 20px;
        display: none;
        font-weight: 600;
        z-index: 999;
    }

    .navigation__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 45%;
        height: 100%;
        background-color: white;
        padding: 16px 8px 0 8px !important;
    }

    .active__nav-link {
        display: block !important;
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 0.9;
        transform: translateY(0);
    }
}

@keyframes slide-right {
    from {
        opacity: 0;
        width: 133%;
    }
    to {
        opacity: 1;
        width: 100%;
    }
}
